@using Marketplace.BAL.Common;
@using MarketplaceMVC.ViewModels.AccountViewModels;
@model ProfileVM

@{
    ViewData["Title"] = User.Identity.Name;
}


<section style="">
        <div class="row mt-5 p-5">
            <div class="col-lg-4">
            <div class="card mb-4 card_shadow">
                    <div class="card-body text-center">
                        <img src="@Model.AvatarPath" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3 mb-0">@Model.NickName</h5>
                    <div class=" text-muted mb-3">@@@(Model.Login)</div>
                    
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
            <div class="card mb-4 card_shadow">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Фимилия</p>
                            </div>
                            <div class="col-sm-9">
                                @if (Model.SecondName == null || Model.SecondName == string.Empty)
                                {
                                    <p class="text-muted mb-0">Не установленно</p>
                                }

                                else
                                {
                                    <p class="text-muted mb-0">@Model.SecondName</p>
                                }
                            </div>
                        </div>

                        <hr> <!-- ------- -->

                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Имя</p>
                            </div>
                            <div class="col-sm-9">
                                @if (Model.Name == null || Model.Name == string.Empty)
                                {
                                    <p class="text-muted mb-0">Не установленно</p>
                                }

                                else
                                {
                                    <p class="text-muted mb-0">@Model.Name</p>
                                }
                            </div>
                        </div>

                        <hr> <!-- ------- -->

                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Никнейм</p>
                            </div>
                            <div class="col-sm-9">
                            @if (Model.NickName == null || Model.NickName == string.Empty)
                                {
                                    <p class="text-muted mb-0">Не установленно</p>
                                }

                                else
                                {
                                <p class="text-muted mb-0">@Model.NickName</p>
                                }
                            </div>
                        </div>

                        <hr> <!-- ------- -->

                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                @if (Model.Email == null || Model.Email == string.Empty)
                                {
                                    <p class="text-muted mb-0">Не установленно</p>
                                }

                                else{
                                    <p class="text-muted mb-0">@Model.Email</p>
                                }
                            </div>
                        </div>

                        <hr> <!-- ------- -->

                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Телефон</p>
                            </div>
                            <div class="col-sm-9">
                                @if (Model.Phone == null || Model.Phone == string.Empty)
                                {
                                    <p class="text-muted mb-0">Не установленно</p>
                                }

                                else
                                {
                                    <p class="text-muted mb-0">@Model.Phone</p>
                                }
                            </div>
                        </div>
                    <hr> <!-- ------- -->
                    <div class="d-flex justify-content-start mb-2">
                        <button type="button" class="btn btn-outline-primary ms-1"
                                data-toggle="modal" data-target="#edditProfileForm">
                            Редактировать
                        </button>
                    </div>

                    </div>
                </div>
                
                </div>
            </div>

    <!-- Modal -->
    <div class="modal fade" id="edditProfileForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Редактировать</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="edditForm" onsubmit="return false" enctype="multipart/form-data">
                    <div class="modal-body">

                        <div class="text-danger" asp-validation-summary="All" id="serverValidate"></div>
                            <!-- ------- -->

                        <div class="row">
                            <div class="col-sm-3 ">
                                <p class="mb-0 align-middle flex-column h-100 btn-group-vertical">Аватар</p>
                            </div>
                            <div class="col-sm-9">
                                <input type="file" 
                                    name="Avatar"
                                    class="form-control"
                                    accept="image/png,image/jpeg,image/gif" 
                                    id="avatarInput" 
                                    asp-for="@Model.Avatar">
                            </div>
                        </div>

                        <hr /> <!-- ------- -->

                        <div class="row">
                            <div class="col-sm-3 ">
                                <p class="mb-0 align-middle flex-column h-100 btn-group-vertical">Имя</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">
                                    <input type="text" placeholder="Имя" value="@Model.Name" asp-for="@Model.Name" class="form-control">
                                </p>
                            </div>
                        </div>

                        <hr /> <!-- ------- -->

                        <div class="row">
                            <div class="col-sm-3 ">
                                <p class="mb-0 align-middle flex-column h-100 btn-group-vertical">Фамилия</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">
                                    <input type="text" placeholder="Фамилия" value="@Model.SecondName" asp-for="@Model.SecondName" class="form-control">
                                </p>
                            </div>
                        </div>

                        <hr /> <!-- ------- -->

                        <div class="row">
                            <div class="col-sm-3 ">
                                <p class="mb-0 align-middle flex-column h-100 btn-group-vertical">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0"><input type="email" placeholder="email@email.email" value="@Model.Email" asp-for="@Model.Email" class="form-control"></p>
                            </div>
                        </div>

                        <hr /> <!-- ------- -->

                        <div class="row">
                            <div class="col-sm-3 ">
                                <p class="mb-0 align-middle flex-column h-100 btn-group-vertical">Телефон</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0"><input type="tel" placeholder="+71234567890" value="@Model.Phone" asp-for="@Model.Phone" class="form-control"></p>
                            </div>
                        </div>
                            <!-- ------- -->

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button type="button" class="btn btn-primary" id="saveBtn">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>



@section Scripts
    {
    <script>
        $('#saveBtn').on('click', function () {
            //let data = "";
            let form = $('#edditForm');
            console.log(form);
            //$('#edditForm').ajaxForm(function(result) {
             //   data = result;
            //});
            $.ajax({
                type: "POST",
                url: '/api/profile/edit',
                //data: $('#edditForm').serialize(),
                data: new FormData(form[0]),
                processData: false,
                contentType: false,
                success: function (response) {
                    console.log("success")
                    
                    serverValidate.text = "";
                },
                error: function (response) {
                    console.log(response.responseJSON.message)
                    $('#serverValidate').html(response.responseJSON.message);
                }
            })
        })
    </script>
}